<h3>Bindings for text content</h3>

<p>Element's content can be bound to model data: <span ae-model="this.controller.model.name"></span></p>
<pre><code>Element's content can be bound to model data: &lt;span ae-model="this.controller.model.name"&gt;&lt;/span&gt;</code></pre>


<h3>Two-Way-Bindings for controls</h3>

<p>The ultraslim library supports two-way data binding for for HTML input 
  controls via <code>ae-bind</code> attribute („directive“):
</p>

<pre><code>
  &lt;input id="input1" name="input1" type="text" ae-bind="this.controller.model.name" /&gt;
</code></pre>

<form>
  <fieldset>
    <legend>Controls with simple data binding</legend>
    <label for="input1">
      Input 1: Name
      <input id="input1" name="input1" type="text" ae-bind="this.controller.model.name" />
    </label>
    <br/>
    <label for="input2">
      Input 2: First name
      <input id="input2" name="input2" type="text" ae-bind="this.controller.model.firstname" />
    </label>
    <br/>
    <label for="input2">
      Input 3: Likes Cats?
      <input id="input3" name="input3" type="checkbox" ae-bind="this.controller.model.likeCats" />
      <select>
        <option ae-repeat="likesCats" value="{{value}}">{{label}}</option>
      </select>
    </label>
    <br/>
    <label for="button1">
        Show in console: 
        <input id="button1" type="button" ae-click="this.controller.onButtonClick" value="Show data on console"/>
    </label>
    <br/>
    <label for="button2">
        set Value: 
        <input id="button2" type="button" ae-click="this.controller.onSetButtonClick" value="Set Value"/>
    </label>
  </fieldset>
  
  <fieldset>
    <legend>Controls with data binding to nested properties</legend>
    <label for="input4">
      Input 3
      <input id="input4" name="input4" type="text" ae-bind="this.controller.model.person.name" />
    </label>
    <br/>
    <label for="input5">
      Input 4: Likes Cats?
      <input id="input5" name="input5" type="checkbox" ae-bind="this.controller.model.person.likeCats" />
    </label>
    <br/>
    <label for="buttonNewPerson">
        set new Person 
        <input id="buttonNewPerson" type="button" ae-click="this.controller.onSetButtonNewPersonClick" value="Set Value"/>
    </label>
  </fieldset>
</form>
