<h2>Data, Loading &amp; Binding</h2>

<p>The ultraslim library supports directives for templating, rendering model 
  data and for binding event handlers, e.g., in this way: 
</p>
<pre><code>
</code></pre>

<p>List of data elements: </p>
<ul>
  <li ae-repeat="persons" ae-click="this.controller.handle({{id}})" id="data_{{id}}">
    {{id}} {{lastname}},{{firstname}} {{address.street}} {{foo}}</li>
</ul>

<p>Reload: </p>
<button ae-click="this.controller.personsService.load()" >reload</button>

<p>Add: </p>
<button ae-click="this.controller.personAdd()" >add</button>

<p>Replace: </p>
<button ae-click="this.controller.personReplace()" ae-enabled="model.selectedId">replace</button>


<h3>Data binding on nested model properties – TBD – currently not working</h3>
<p>List of data elements: </p>
<ul>
  <li ae-repeat="nested.persons" ae-click="this.controller.handle({{id}})" id="data_{{id}}">
    {{id}} {{lastname}},{{firstname}} {{address.street}} {{foo}}</li>
</ul>
<p>Add: </p>
<button ae-click="this.controller.nestedPersonAdd()" >add</button>