<h2>Overview</h2>
<h3>What is it?</h3>

<p>ae-ultraslim is a minimalistic JavaScript toolkit for small single page web 
  applications.
</p>

<h3>Why another JavaScript toolkit?</h3>
<p>There are plenty of JS libraries and toolkits, and the most popular mostly 
  always grew in size and complexity. This complexity is not always needed, and
  for smal projects, it introduces a huge overhead: initial learning curve, 
  testing, maintenance etc..
</p>
<p>Also, although we see plenty of hardware capability with mobile platforms 
  (a simple smartphone today has more CPU power than a full-grown PC some years 
  ago!), hardware, network and OS resources are not for free. In many situations
  or locations, they are still limited. And, in generall, one should not waste
  resources „just because you have it“.
</p>
<p>At last, it is meant as a learning project, that let's you take a look unter 
  the lid, inside the gears of what is necessary for JavaScript single page 
  web aplications.
</p>

